mixin postItem(source,position)
    .post__item(class=position)
        img(src=source)
        a(href="./blog_detail.html")
            h5 REVIEW SON KEM BOURJOIR VELVET
        p
            | Hi, chào các nàng...sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức,khi mà
            | dân tính xô nhau đi tắm Free để giải nhiệt.
        span Bởi NamTran (27/05/2015)
        .posts__item__btn
            a(href='#')
                | Đọc thêm
                i.fas.fa-angle-right
            a(href='#') 23 Bình Luận

mixin blogDetailItem(source)
    .posts__item
        img(src=source)
        .posts__item__description
            h4
                | 11
                small / Tháng 5
            p Đăng bởi bởi Giangle
mixin formBlogDetail(name,inputType)
    .form-group
        label=name
        input(type=inputType)