mixin legacy(legacyTitle,className,imageSource)
    .legacy__items__detail(class=className)
        img(src=imageSource, alt=legacyTitle)
        .legacy__items__detail__content.legacy-content
            h4= legacyTitle
            a(href='')
                p Mỹ phẩm Châu Âu
            span.price
                | 335.000
                small vnd
        .legacy__items__detail__icon
            .legacy-cta
                button Mua hàng
                a(href='')
                    i.fas.fa-heart
                a(href='')
                    i.fas.fa-sync-alt

mixin social(socialParagraph,socialsTitle,iconName)
        .item(class=socialsTitle)
            .icon
                .fab(class=iconName)
            p=socialParagraph
            .bar

mixin info(infoHeading)
    h4=infoHeading
    img(class='heading__img', src='./assets/images/footer-decor-info.png', alt='text footer decoration')