mixin process(className, name)
    .process
        .progressbar
            div(class=className)
                span= name
                
mixin customer(title, className)
    .customer-item
        p(class=className)= title
            span

- let listTableCustomer =  ["Ảnh", "Tên Sản Phẩm", "Giá", "Số Lượng", "Tổng Số"];

mixin form-group(label, type, idInput, name, idError)
    .form-group
        label= label
        input(id=idInput name=name type=type)
        i.fas.fa-check-circle
        i.fas.fa-exclamation-circle
        .error-message(id=idError)